<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <div class="sidebar">
            some content here
          </div>
        </div>
        <div class="col-9">
          <main class="main-content">
            some content here
          </main>
        </div>
      </div>
    </div>
  </body>

</html>
