@mixin gradient-grey-box() {
  background: linear-gradient(45.49deg, #9BA1B5 -194.28%, #62687E 119.21%);
}

@mixin gradient-green-box() {
  background: linear-gradient(35.79deg, #BBEC75 0%, #AFE257 100%);
}

@mixin gradient-green-button() {
  background: linear-gradient(17.35deg, #BBEC75 0%, #AFE257 100%);
}

@mixin gradient-red() {
  background: linear-gradient(247.88deg, #FF5E6C -60.99%, #FF8FA0 254.55%);
}

@mixin sidebar() {
  background: linear-gradient(254.59deg, #EBF0F5 -1.47%, #E9EFF8 105.13%);
}
